*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 60px;
    background:white;
    position:fixed ;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.navitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation a{
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    color:black;
    line-height: 60px;
}
.navigation a:hover{
    background:darkgray;
} 
.search{
    float: right;
    color: black;
    line-height: 60px;
    padding: 0 15px;
}
.search:hover{
    background: red;
}
/* site style */
#heroarea{
    background: url("./src/man-792821_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 100vh; */
    background-attachment: fixed;
    margin-top: 60px;
}
.herocontent{
    display: flex;
    justify-content: center;
    padding:50vh 0px ;
}
.herocontent h1{
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 10px;
    width: 500px;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

/* about site */
#about{
    margin-top: 80px;
}
.about{
    margin: 0 400px;
}
.ab1 h1{
    text-align: center;
    padding: 10px 0;
}
.about p:nth-child(2){
    text-align: center;
    font-style: italic;
}
.about p:nth-child(3){
    text-align: justify;
    /* margin: 0 400px; */
    padding: 10px;
}
.ab2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img{
    height: 300px;
    width: 500px;
}
.img h1{
    padding-bottom: 20px;
    text-align: center;
}
.abcont{
    padding-left: 30px;
    text-align: justify;
}
h1:nth-child(3){
    font-size: 1.3rem;
    text-align: center;
    margin-top: 40px;
}
/* progress bar */
.barname{
    letter-spacing: 10px;
    font-weight: 600;
    padding-top: 20px;
}
.msword{
    height: 30px;
    width: 100%;
    background: rgb(239, 234, 234);
}
.ms{
    height: 30px;
    width: 90%;
    background: gray;
    margin: 20px 0px;
}
.ms p{
    font-size: 1.2rem;
    text-align:center;
    line-height: 30px;
    color: white;
}
.wed{
    height: 30px;
    width: 100%;
    background: rgb(239, 234, 234);
}
.wd{
    height: 30px;
    width: 30%;
    background: gray;
    margin: 20px 0px;
}
.wd p{
    font-size: 1.2rem;
    text-align:center;
    line-height: 30px;
    color: white;
}
.web{
    height: 30px;
    width: 100%;
    background: rgb(239, 234, 234);
}
.wb{
    height: 30px;
    width: 40%;
    background: gray;
    margin: 20px 0px;
}
.wb p{
    font-size: 1.2rem;
    text-align:center;
    line-height: 30px;
    color: white;
}
/* portfolio stat */
#portfolio{
    background: url("./src/greens-4926369_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;
    opacity: 0.75;
    background-attachment: fixed;
}
#portfolio h1{
    font-size: 3rem;
    text-align: center; 
    color: white;
}
/* projects */
.project{
    margin:50px 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background: #000;
    color: white;
    text-align: center;
    padding: 30px 0px;
}
.portfoliohead h1{
    padding: 200px 0px;
}
/* MyWork start */
.MyWork{
    margin: 30px 400px;
}
.MyWork h1{
    font-size: 2.1rem;
    font-weight: 700;
    text-align: center;
    padding: 15px 0;
}
.MyWork p{
    text-align: center;
}
.myImg{
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.myImg1{
    height: 200px;
    width: 100%;
    background: #000;
    background:url(./src/1.jpg);
    background-size:cover;
    background-position:center;
}
.myImg2{
    height: 200px;
    width: 100%;
    background: #000;
    background:url(./src/2.jpg);
    background-size:cover;
    background-position:center;
}
.myImg3{
    height: 200px;
    width: 100%;
    background: #000; 
    background:url(./src/3.jpg);
    background-size:cover;
    background-position:center;
}
.myImg4{
    height: 200px;
    width: 100%;
    background: #000;
    background:url(./src/4.jpg);
    background-size:cover;
    background-position:center;
}
.myImg5{
    height: 200px;
    width: 100%;
    background: #000; 
    background:url(./src/5.jpg);
    background-size:cover;
    background-position:center;
}
.myImg6{
    height: 200px;
    width: 100%;
    background: #000; 
    background:url(./src/6.jpg);
    background-size:cover;
    background-position:center;
}
.myImg7{
    height: 200px;
    width: 100%;
    background: #000; 
    background:url(./src/7.jpg);
    background-size:cover;
    background-position:center;
}
.myImg8{
    height: 200px;
    width: 100%;
    background: #000; 
    background:url(./src/8.jpg);
    background-size:cover;
    background-position:center;
}
/* .myImg1 .myImg2.myImg3.myImg4.myImg5.myImg6.myImg7.myImg8{
    opacity: 0.2;
}
.myImg1,.myImg2,.myImg3,.myImg4,.myImg5,.myImg6,.myImg7,.myImg8:hover{
    opacity: ;
} */
 .load{
    text-transform: uppercase;
    background: rgb(223, 218, 218);
    color: black;
    padding: 10px;
    margin-left: 500px;
    transition: 0.4s;
 }
 .load:hover{
    background: gray;
    color: white;
 }
 /* contact section */
 .contactimg{
    background: url("./src/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
 
    background-attachment: fixed;
    opacity: 0.7;
 }
 .contactimg h1{
    font-size: 3rem;
    color:white;
    font-weight: 700;
    text-align: center;
    padding-top: 200px;
    opacity: 1;
 }
 .conhead{
    text-align: center;
    margin: 40px 0px;
 }
 .conhead h1{
    text-transform: uppercase;
 }
 .concontent{
    display: flex;
    margin: 20px 400px;

 }
 .maps iframe{
    height: 400px ;
    width: 500px;
 }
.conform{
    padding-left: 100px;
}
 .conform p{
    padding: 10px 0px;
 }
 form input{
    height: 30px;
    width: 140px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
 }
 form textarea{
    height: 60px;
    width: 300px;
    outline: none;
 }
 /* footer side */
 #footer{
    background: gray;
    text-align: center;
    transition: 0.7s;
 }
 #footer:hover{
    background: black;
 }
 .top{
    margin-top: 70px;
    margin-bottom: 30px;
    padding: 15px 25px;
    cursor: pointer;
 }
 .top a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
 }
 .social a{
    background: red;
    border-radius: 10px;
    color: white;
    padding: 10px;
    cursor: pointer;
 }
 #footer p{
    padding: 15px;
    color: white;
 }
 /* responsive start */


 @media(max-width:1200px){
    .navitem{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px;
    }
    #heroarea{
        height: 100vh;
    } 
    .herocontent h1{
        padding-top: 0px;
    }
    .about{
        margin: 0px 50px;
    }
    .MyWork{
        margin: 0px 50px;
    }
    .load{
        margin-bottom: 50px;
    }
    .contactimg{
        height: 60vh;
    }
    .concontent{
        margin: 30px 50px;
    }
 }
 @media(max-width:992px){
    .navitem{
        display: flex;
        justify-content:center;
    }
    #heroare{
        height: 500px;
    }
    .abcont{
        padding-top: 50px;
    }
    .myImg{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
    }
    .img img{
        height: 250px;
        width: 300px;
    }
    .load{
        margin-left: 400px;
    }
    .conform{
       padding-left: 20px;
    }
 }
 @media (min-width:768px) {
    .navitem{
        display: flex;
        justify-content: left;
    }
}
@media(min-width:600px){
    .navitem{
        display: flex;
        justify-content: left;
    }
    .navigation a{
        font-size: 12px;
    }
    .ab2{
        padding: 30px;
        display:block;
    }
    .img img{
        width: 100%;
    }
    .abcont p{
        display: block;
    }
    #portfolio h1{
        font-size: 16px;
    }
    .myImg{
        display: flex;
        flex-direction: column;
    }
    .load{
        margin-left: 150px;
    }
    .concontent{
        display: flex;
        flex-direction: row;
    }
}